{% extends "base.html" %}

{% block content %}
<table class="table" style="width:50%; margin-left: 20%;">
    <thead>
        <tr class="text-center table-dark">
            <th>도감번호</th>
            <th>이름</th>
        </tr>
    </thead>
    <tbody>
        {% for pokemon in pokename %}
        <tr class="text-center">
            <td>
                {{ pokemon.num }}
            </td>
            <td>
                <a href="{% url 'pokedex:detail' pokemon.id %}">{{ pokemon.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}