<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <!--Pybo 페이지일때 표시될 로고와 링크-->
        {% if question_list %}
        <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
        <!--Game 페이지일때 표시될 로고와 링크-->
        {% elif pokename %}
        <a class="navbar-brand" href="{% url 'pokedex:index' %}">Pokedex</a>
        <!--아닐 경우 표시될 로고와 링크-->
        {% else %}
        <a class="navbar-brand" href="{% url 'common:index' %}">ProjectHY</a>
        {% endif %}
        <!--home 버튼-->
        <a class="navbar-brand" href="{% url 'common:index' %}">
            {% load static %}
            <img class="nav-img" src="{% static 'home.png' %}" width="30px" >
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>